$first-color:#8B52FF;
$second-color: #FF52AE;
$gradient-color: linear-gradient(73.19deg, #FF52AF 11.6%, #9F53FF 83.86%);
$light-color:#E5D9FD;
$dark-color:#1E0849;
$white: #fff;
$black: #000;
$title-color: #220953;
$text-color: #4B3E65;
$text-color-light:#A197B4;
$body-color : #F5F0FF;